---
---

<div>
  <strong> Here are a few reasons I started this blog:</strong>
  <ul class="mt-5">
    <li>
      <strong>Learn:</strong>
      I wanted to learn new things and start journalling them so that I can reflect
      on them when required.
    </li>
    <li>
      <strong>Share:</strong>
      Let's learn together
    </li>
    <li>
      <strong>I like writing:</strong>
      I've always said I love writing and I do write quite a lot. But, these writings
      mostly remain in Notes and get discared/replaced with something else. I think
      I'm ready to change that.
    </li>
  </ul>
  <div class="mt-5">
    <strong> Reach out to me!</strong>

    I would love if you could reach out to me and say <code>Hi.</code>
  </div>
</div>
